In [45]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/final_cossim_result.csv')
df.head()

,성구분,카테고리명,상품명,CategoryID,ProductID,pink_cossim,blue_cossim,파일명
0,girl,girl-Doll,[d]아망스 커플바니인형 핑크-소형(50cm),C10100020002,L000000549595,0.30838029172372905,-0.26945756131260523,C10100020002-L000000549595.png
1,boy,boy-Car/Train,미판매상품 안내페이지,C10100030004,8809311140519,0.3774832204826477,-0.23083346459605103,C10100030004-8809311140519.png
2,boy,boy-Car/Train,사파리 월드카,C10100030004,8809285520850,-0.34374026732040036,-0.618007212750039,C10100030004-8809285520850.png
3,girl,girl-Deco,헬로키티 요정의드레스룸,C10100020003,L000000578099,0.26004839180984674,-0.2991907872312086,C10100020003-L000000578099.png
4,girl,girl-RolePlay,미판매상품 안내페이지,C10100020001,3032163105008,-0.5579422839012692,0.3219268165432647,C10100020001-3032163105008.png

In [20]:
df = df[df['pink_cossim'] != 'Error']

In [22]:
df = df[df['pink_cossim'] != 'Error2']

In [24]:
df[df['blue_cossim'] == 'Error2']

Empty DataFrame
Columns: [성구분, 카테고리명, 상품명, CategoryID, ProductID, pink_cossim, blue_cossim, 파일명]
Index: []

In [27]:
df[['pink_cossim', 'blue_cossim']] = df[['pink_cossim', 'blue_cossim']].astype('float64')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2156 entries, 0 to 2169
Data columns (total 8 columns):
성구분            2156 non-null object
카테고리명          2156 non-null object
상품명            2156 non-null object
CategoryID     2156 non-null object
ProductID      2156 non-null object
pink_cossim    2156 non-null float64
blue_cossim    2156 non-null float64
파일명            2156 non-null object
dtypes: float64(2), object(6)
memory usage: 151.6+ KB

In [38]:
df_gender = df.groupby(df.성구분).mean()
df_gender

      pink_cossim  blue_cossim
성구분
boy      0.179879    -0.138772
girl     0.321406    -0.270427

In [51]:
df.groupby(df.성구분).std()

      pink_cossim  blue_cossim
성구분
boy      0.271311     0.349888
girl     0.297154     0.364014

In [39]:
df_cate = df.groupby(df.카테고리명).mean()
df_cate

               pink_cossim  blue_cossim
카테고리명
boy-Action        0.176893    -0.211075
boy-Car/Train     0.173778    -0.098217
boy-Control       0.249990    -0.129243
boy-Figure        0.189190    -0.100736
boy-RolePlay      0.125100    -0.136760
girl-DIY          0.259323    -0.156642
girl-Deco         0.397032    -0.153807
girl-Doll         0.322132    -0.325967
girl-RolePlay     0.317302    -0.239397

In [53]:
df.groupby(df.카테고리명).std()

               pink_cossim  blue_cossim
카테고리명
boy-Action        0.267014     0.343637
boy-Car/Train     0.276294     0.333734
boy-Control       0.293666     0.356885
boy-Figure        0.269100     0.362877
boy-RolePlay      0.242426     0.355819
girl-DIY          0.272979     0.272632
girl-Deco         0.319410     0.351677
girl-Doll         0.301399     0.389572
girl-RolePlay     0.269139     0.277835